<div class="row">
  <div *ngFor="let temp of orders" class="col-md-4 myorder buyingorder">
    <div class="card order-item">
      <div class="totprice">
        {{ temp.price * temp.quantity | currency : "USD" }}
      </div>
      <div class="totprice to2">
        {{ temp.price | currency : "USD" }}
      </div>
      <img src="{{ temp.img }}" alt="denim" style="width: 100%" />
      <h1>{{ temp.name }}</h1>
      <p class="price">
        <i (click)="addOrder(temp)" class="fas fa-plus"></i
        ><span>{{ temp.quantity }}</span
        ><i (click)="removeOrder(temp)" class="fas fa-minus"></i>
      </p>
      <button (click)="remove(temp)" class="btn btn-primary mybu">
        Remove
      </button>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="orders?.length == 0" role="alert">
  No orders found
</div>

<div class="check-out">
  <div class="size">total order{{ totalOrder }}</div>
  <div class="totalprice">
    total price : {{ totalPrice | currency : "USD" }}
  </div>
  <button *ngIf="orders.length !== 0" class="btn btn-primary done">Done</button>
</div>
