.buyingorder {
  margin-left: 135px;
}
span {
  margin: 0 98px;
}
i {
  background-color: #149ddd;
  padding: 3px;
  color: white;
}
.totprice {
  position: absolute;
  padding: 18px;
  font-weight: bold;
  color: white;
  background-color: #149ddd;
  font-size: 15px;
}

.to2 {
  right: 8px;
}

.check-out {
  border-radius: 30px;
  background-color: white;
  padding: 20px;
  width: 400px;
  font-size: 21px;
  font-weight: bold;
}

.done {
  width: 366px;
}

.size {
  background-color: crimson;
  padding: 8px;
  color: aliceblue;
}
