<div class="d-flex myform">
  <input
    (keyup)="doSearch(key.value)"
    #key
    class="mygro form-control me-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
  <button
    (click)="doSearch(key.value)"
    class="mygro btn btn-outline-success"
    type="submit"
  >
    Search
  </button>
  <button
    routerLink="/login"
    *ngIf="!isAuthenticateUser()"
    class="log btn btn-outline-primary"
    type="submit"
  >
    Login
  </button>
  <button
    *ngIf="isAuthenticateUser()"
    class="log btn btn-outline-danger"
    type="submit"
    (click)="logout()"
  >
    Logout
  </button>
</div>
