<div class="row" style="margin-left: 20%">
  <div *ngFor="let temp of orders" class="col-md-4 myorder">
    <div class="card order-item">
      <a routerLink="/order/{{ temp.id }}">
        <img src="{{ temp.img }}" alt="Denim Jeans" style="width: 100%" />
      </a>
      <a routerLink="/order/{{ temp.id }}">
        <h1>{{ temp.name }}</h1>
      </a>
      <p class="price">{{ temp.price | currency : "USD" }}</p>
      <p class="dis">
        {{ temp.description }}
      </p>
      <button class="btn btn-primary mybu">Add to Cart</button>
    </div>
  </div>

  <div class="col-md-9 pag" style="padding-left: 50%">
    <ngb-pagination
      [pageSize]="pageLength"
      [collectionSize]="orderSize"
      [(page)]="page"
      (pageChange)="doing()"
      [maxSize]="2"
      [boundaryLinks]="true"
    >
    </ngb-pagination>
  </div>
</div>
